/* app/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* night-1200 */
    --muted: 218 42% 9%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* night-1100 */
    --popover: 218 42% 13%;
    /* night-400 */
    --popover-foreground: 216 5% 64%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    /* #282F3D */
    --border: 220 21% 20%;
    --input: 214.3 31.8% 91.4%;

    /* ruby-900 */
    --primary: 0 72% 51%;
    /* white */
    --primary-foreground: 0 0% 100%;

    /* night-800 */
    --secondary: 218 38% 20%;
    /* white */
    --secondary-foreground: 0 0% 100%;

    /* night-900 */
    --accent: 218 40% 16%;
    /* night-300 */
    --accent-foreground: 214 5% 73%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

[data-rk] {
  @apply h-full;
}

@font-face {
  font-family: "Whyte";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/ABCWhyteVariable.woff2") format("woff2"),
    url("/fonts/ABCWhyteVariable.woff") format("woff");
}
