/* app/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rk] {
  @apply h-full;
}

@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/ABCWhyteVariable.woff2") format('woff2'),
       url("/fonts/ABCWhyteVariable.woff") format('woff');
}
